<?xml version="1.0" encoding="utf-8"?>
  <configuration>
    <system.webServer> 
		<webSocket enabled="false" />  	
		<staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".html" mimeType="text/html" />
            <mimeMap fileExtension=".css" mimeType="text/css" />
		</staticContent>	
		<handlers>
			<add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
		</handlers>
    </system.webServer>
  </configuration>